@media only screen and (min-width:360px) and (max-width:800px){
    body{
        padding: 0px
    }
    .doc{
        display: none
    }
    .supp{
        display: none
    }
    .nav-1{
        width: 76%
    }
    .nav-1>h2 {
       
        font-size: 20px;
    }
    .nav-1>h3 {
       
        font-size: 16px;
    }
    .nav-2{
        width: 20%
    }
    .heading>h1{
        font-size: 30px
    }
    #playbtn{
        display: none
    }
    .box-img{
        width: 65%
    }

}
@media only screen and (min-width:800px) and (max-width:1200px){
    body{
        padding: 0px 30px
    }
    
    .nav-1{
        width: 70%
    }
    .nav-1>h2 {
       
        font-size: 20px;
    }
    .nav-1>h3 {
       
        font-size: 16px;
    }
    .nav-2{
        width: 10%
    }
    .heading>h1{
        font-size: 30px
    }
    #playbtn{
        display: none
    }
    .box-img{
        width: 65%
    }

}
@media only screen and (min-width:1000px) and (max-width:1200px){
    .box-img{
        width: 50%
    }
}